@model IEnumerable<TaxCalculatorWeb.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the tax calculator App</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxCalculated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxCalculated)
            </td>
            @* <td>
                  
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId, @class="btn btn-info"}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td> *@
        </tr>
}
    </tbody>
</table>
